.large-hero {
    border-bottom: 10px solid $mainBlue;
    position: relative;

    &__image {
        display: block;
    }

    &__text_content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &__title {
        margin: 0;
        font-weight: 300;
        color: $mainBlue;
        font-size: 2.2rem;

        @mixin atSmall {
            font-size: 3.5rem;
        }

        @mixin atMid {
            font-size: 4.8rem;
        }

        @mixin atLarge {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        margin: 0;
        font-weight: 300;
        color: $mainBlue;
        font-size: 1.6rem;

        @mixin atSmall {
            font-size: 2.5rem;
        }

        @mixin atMid {
            font-size: 3.2rem;
        }

        @mixin atLarge {
            font-size: 3.2rem;
        }
    }

    &__description {
        font-weight: 100;
        color: #fff;
        font-size: 1.1rem;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;

        @mixin atSmall {
            font-size: 1.2rem;
            max-width: 23rem;
        }

        @mixin atMid {
            font-size: 1.5rem;
            max-width: 26.5rem;
        }

        @mixin atLarge {
            font-size: 1.875rem;
            max-width: 30rem;
        }
    }
}
